
body {
    overflow: hidden;
    overflow-x: hidden;
    width: 100%;
}

div.diy-slideshow {
    margin-left: -15%;
    height: 870px;
    margin-top: 50%;
    overflow: hidden;
}

div.diy-slideshow.mobileHomePage {
    margin-left: -15%;
    height: 870px;
    margin-top: 50%;
    overflow: hidden;
}

figure {
    position: absolute;
    opacity: 0;
    transition: 1s opacity;
    width: 175%;
    top: 40%;
    left: 0%;
}

figure.show {
    opacity: 1;
    position: absolute;
    transition: 1s opacity;
}

div.DJ_Name {
    position: absolute;
    top: 37.5em;
    left: 1em;
    width: 125%;
    font-family: 'Jura', sans-serif;
    font-weight: 600;
    color: black;
    font-size: 1.3em;
    cursor: pointer;
}

div.DJ_Name span {
    color: black;
    font-size: 2em;
    font-weight: 600;
    cursor: pointer;
}

div.galleryBtn.homeToGallery {
      position: absolute;
    color: black;
    font-size: 1em;
    padding: 0.5em;
    bottom: 0em;
    left: 27.5em;
    width: 30%;
    border: 0.2rem solid black;
    border-radius: 25px;
    /* transform: scale(0.5); */
}

img.bio_3box {
    top: 70em;
}

div.bioTitle {
    font-size: 2em;
    font-weight: 600;
}

div.bioTextWrapper {
    width: 142%;
    height: 870px;
    margin-top: 42em;
    left: 2.7em;
    text-align: center;
    font-family: 'Jura', sans-serif;
    font-weight: 400;
    font-size: 1.6em;
    color: black;
    position: absolute;
    top: 30%;
    display: none;
    overflow: hidden;
}

div.diy-slideshow.bio {
    overflow: hidden;
    width: 100%;
    margin-left: 0;
    height: 870px;
    z-index: -1;
}

div.menuWrapper {
    width: 75%;
    height: 250px;
    display: none;
    justify-content: space-around;
    position: absolute;
    top: 90em;
    left: 15%;
}

div.box {
    width: 250px;
    height: 250px;
    /*  border: 1px solid black;*/
    text-align: center;
    line-height: 250px;
    cursor: pointer;
    overflow: hidden;
}

div.box img {
    width: 100%;
    height: 100%;
    position: relative;
    transform: scale(1);
}

div.galleryTitle {
    position: relative;
    top: 0em;
    font-size: 2em;
}

div.sketchTitle {
    position: relative;
    top: 0em;
    font-size: 2em;
}

div.websiteTitle {
    position: relative;
    top: 0em;
    font-size: 2em;
}

div.lg-hide-items .lg-toolbar {
    opacity: 1;
}


div.diy-slideshow.aboutMe {
    overflow: hidden;
    width: 90%;
    margin-left: 5%;
    height: auto;
    z-index: -1;
    text-align: center;
}

div.aboutMeWrapper {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-around;
}

div.left {
    width: 50%;
  width: 50%;
    float: left;
    text-align: center;
    left: -2em;
    position: relative;
}

.aboutMebox img {
    width: 100%;
    height: 100%;
    position: relative;
    transform: scale(0.8);
}

div.zanzoImg {
    height: inherit;
    margin-top: 51px;
}

img.aboutMeImg {
    height: 290px;
    cursor: pointer;
    transform: scale(0.8);
}

div.right {
    position: absolute;
    width: 100%;
    /* float: right; */
    left: 9em;
    text-align: center;
    font-family: 'Jura', sans-serif;
    font-weight: 400;
    font-size: 1.8em;
    color: black;
    /*  border: 1px solid black;*/
}

div.aboutMeRightWrapper {
    /* position: absolute; */
    width: 93%;
    margin-top: 32%;
    margin-left: -15%;
    /* border-left: 2px solid black; */
    left: 0;
}

div.right h1 {
    font-size: 2.5em;
}

.socialLinkWrapper {
    width: 100%;
    display: flex;
    justify-content: center;
}

.socialLink {
    transform: scale(0.3);
}

.section,
.section .fp-slide,
.section .fp-tableCell {
    height: auto !important;
    
}
